.button {
	position: relative;
	display: inline-block;
	font-size: 1rem;
	// width: 166px;
	// height: 43px;
	padding: 5px 25px 8px;
	text-transform: uppercase;
	border: 1px solid $pink;
	text-decoration: none;
	text-align: center;
	&:after {
		content: '';
		position: absolute;
		display: block;
		top: -6px; 
		right: 4px; 
		bottom: 4px; 
		left: -6px;
		border: 1px solid $pink;
	}
	&:hover {
		color: $highlight;
		transition: 0.4s;
		border: 1px solid $highlight;
		&:after {
			content: '';
			border: 1px solid $highlight;
			transition: 0.4s;
		}
	}
}

.button--pink {
	color: $pink;
}

.button--cream {
	color: $cream;
}